<template>
  <div class="home">
    <div class="infoWrapper">
      <div class="info">
        <div class="textBox">
          <h1>Blober</h1>
          <p>Viena iš geriausių bendruomenių skirta dalintis bei atrasti kūrybos. Įgauti daugiau patirties, gerinti įdūdžius ir naudotis savo sugebėjimais yra svarbu kiekvienam siekiančiam dizaineriui. Prisijunk visiškai nemokamai!</p>
          <br>
          <BButton @click="Prisijungti">Prisijungti</BButton>
        </div>

        <div class="steps">
          <div>
            <v-icon size="2x" icon="user" />
            <p>Lengva ir patogu naudotis įvairiuose įrenginiuose</p>
          </div>

          <div>
            <v-icon size="2x" icon="wallet" />
            <p>Visiškai nemokamas turinio dalinimasis su pasauliu</p>
          </div>

          <div>
            <v-icon size="2x" icon="ranking-star" />
            <p>Išpopulerėk dalindamasis savo kūryba!</p>
          </div>
        </div>
      </div>

      <video class="video" src="@/assets/loop.webm" muted autoplay loop></video>
      <div class="overlay" />
    </div>

    <div class="categories">
      <div v-for="ctg in categories" :key="ctg" :style="{ backgroundImage: 'url(' + ctg.BG + ')' }">
        {{ ctg.Label }}
      </div>
    </div>

    <div class="content">
      <h1>Naujausi</h1>
      <div class="gallery">
        <GalleryItem v-for="a in nauja" :key="a" :data="a" />
      </div>

      <h1>Populiariausi</h1>
      <div class="gallery">
        <GalleryItem v-for="a in popular" :key="a" :data="a" />
      </div>

      <h1>Daugiausiai peržiūru</h1>
      <div class="gallery">
        <GalleryItem v-for="a in views" :key="a" :data="a" />
      </div>
    </div>
  </div>
</template>

<script>
import GalleryItem from "@/components/B-Gallery-Item.vue"
import { data } from "@/assets/data.js"

export default {
  name: 'HomeView',
  components: {
    GalleryItem,
  },

  computed: {
    nauja: function () {
      var result = JSON.parse(JSON.stringify(this.galleryItems));

      return result.sort((d1, d2) => new Date(d1.Ikelta).getTime() - new Date(d2.Ikelta).getTime()).slice(0, 8);
    },

    popular: function () {
      var result = JSON.parse(JSON.stringify(this.galleryItems));

      return result.sort(function (a, b) {
        return b.Likes - a.Likes
      }).slice(0, 8);
    },

    views: function () {
      var result = JSON.parse(JSON.stringify(this.galleryItems));

      return result.sort(function (a, b) {
        return b.Views - a.Views
      }).slice(0, 8);
    }
  },

  data: function () {
    return {
      galleryItems: data,

      categories: {
        UIUX: {
          ID: 1,
          Label: "UI/UX",
          BG: "https://wallpaperaccess.com/full/6000163.jpg"
        },
        Iliustr: {
          ID: 2,
          Label: "Iliustracijos",
          BG: "https://i.ytimg.com/vi/9ezp2-UTxmg/maxresdefault.jpg"
        },
        WEB: {
          ID: 3,
          Label: "Web Dizainas",
          BG: "https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/61c22ea8204d60108c42a8f3_full-portfolio-course.png"
        },
        Anim: {
          ID: 4,
          Label: "Animacijos",
          BG: "https://wallpaperaccess.com/full/1629.jpg"
        },
        Foto: {
          ID: 5,
          Label: "Fotografijos",
          BG: "https://wallpaperaccess.com/full/530366.jpg"
        }
      }
    }
  },

  methods: {
    Prisijungti: function () {
      global.refs.prisijungti.isActive = true;
    }
  }
}
</script>

<style scoped>
.infoWrapper {
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  position: absolute;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.info {
  z-index: 1;
  width: 100%;
  color: white;
  align-self: flex-end;
}

.textBox {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.steps {
  margin: 60px 0 50px 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 13px;
  font-family: 'GilroyBOLD';
  color: rgba(226, 226, 226, 0.9);
}

.steps>div {
  width: 150px;
}

.categories {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.categories>div {
  color: white;
  background-size: cover;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  padding: 40px 0;
  margin: 0 20px;
  font-size: 14px;
  font-family: 'GilroyBOLD';
  text-shadow: 0 0 10px black;
  box-shadow: 0 0 15px black, inset 0 0 50px 20px black;
  transition: 0.2s;
}

.categories>div:hover {
  text-decoration: underline;
  box-shadow: 0 0 15px black, inset 0 0 30px 10px black;
}

.content {
  margin: 0 100px;
}

.gallery {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 20px;
  margin-bottom: 80px;
}
</style>
