<template>
  <div class="intro">
    <img class="intoPic" src="@/assets/blobs.png" width="650">

    <div>
      <div class="textBox">
        <h2>Nori išmokti dizaino ?</h2>
        <p>Mūsų 10 savaičių trunkantys kursai gali būti puikiai pritaikyti pagal Jūsų laiką. Susipažinę su profesionaliais dizaineriais įgysite platesnį supratimą apie dizainerio karjerą, pagerinsite savo įgūdžius kurdami kas jums patinka.</p>
      </div>
      <BButton @click="$router.push('/parduotuve')" sec>Peržiūrėti</BButton>
    </div>
  </div>

  <div class="contentWrapper">
    <div class="detailsBox">
      <div class="aboutText">
        <h1>Kas yra dizainas ?</h1>
        <p>Paprastai kalbant, tai yra objektų, interaktyvių sistemų, pastatų, transporto priemonių ir tt kūrimo numatymo
          ir planavimo procesas. Jis orientuotas į vartotoją, t. y. vartotojai yra dizaino mąstymo požiūrio esmė. Tai
          yra sprendimų kūrimas žmonėms, fiziniams daiktams ar abstraktesnėms sistemoms, siekiant patenkinti poreikį ar
          problemą.</p>
      </div>
    </div>

    <div v-animate-onscroll="{ down: 'animated zoomInUp' }" class="paslaugosWrapper">
      <div>
        <h1>Kokias paslaugas teikiame ?</h1>
        <p>Pamokos bei konsultacijos iš geriausių dizaino pramonės atstovų užtikrina kokybišką ir prasmingą mokymasį. Tiesioginės vaizdo pamokos leis Jums lengviau suprasti ir įsigilinti į turinį. Galėsite visiškai nemokamai naudotis profesionaliomis dizaino kūrimo įrankiais kurie palengvina darbą. Privačios konsultacijos su ekspertais užtikrins bei atsakys į visus kylančius klausimus.</p>
      </div>

      <img src="@/assets/vector.png" width="600" alt="blober paslaugos">
    </div>

    <v-icon size="3x" icon="arrow-down"/>
  </div>

  <div class="purchaseWrapper">
    <div class="purchaseDetails">
      <h1>Užsisakyk jau šiandien!</h1>
      <p>Mūsų nustatytos kainos yra atsižvelgos į studentų poreikius ir yra lengvai prieinamos. Mokėkite iš anksto arba dalimis kūrsų laikotarpiu!</p>
    </div>

    <div class="purchaseOptions">
      <div v-animate-onscroll="{ down: 'animated flip' }">
        <div class="pHeader">
          <h2>2 lygio</h2>
          <h1>15e/men</h1>
        </div>

        <div class="pInfo">
          <div>
            <p><v-icon icon="video" /> Vaizdinė medžiaga</p>
            <p><v-icon icon="clock" /> Trukmė 11 sav</p>
            <p><v-icon icon="mobile" /> Tiesioginės pamokos</p>
            <p><v-icon icon="user" /> Nemokamos konsultacijos</p>
          </div>
          <BButton>Užsakyti</BButton>
        </div>
      </div>

      <div v-animate-onscroll="{ down: 'animated flip' }">
        <div class="pHeader">
          <h2>1 lygio</h2>
          <h1>50e/men</h1>
        </div>

        <div class="pInfo">
          <div>
            <p><v-icon icon="video" /> Vaizdinė medžiaga</p>
            <p><v-icon icon="clock" /> Trukmė 10 sav</p>
            <p><v-icon icon="mobile" /> Tiesioginės pamokos</p>
            <p><v-icon icon="user" /> Nemokamos konsultacijos</p>
            <p><v-icon icon="user-tie" /> Profesionali pagalba</p>
          </div>
          <BButton>Užsakyti</BButton>
        </div>
      </div>

      <div v-animate-onscroll="{ down: 'animated flip' }">
        <div class="pHeader">
          <h2>3 lygio</h2>
          <h1>30e/men</h1>
        </div>

        <div class="pInfo">
          <div>
            <p><v-icon icon="video" /> Vaizdinė medžiaga</p>
            <p><v-icon icon="clock" /> Trukmė 12 sav</p>
            <p><v-icon icon="mobile" /> Tiesioginės pamokos</p>
          </div>
          <BButton>Užsakyti</BButton>
        </div>
      </div>
    </div>
  </div>

  <div class="contentWrapper">
    <div v-animate-onscroll="{ down: 'animated flipInY' }" class="paslaugosWrapper">
      <img src="@/assets/vector2.png" width="600" alt="blober pagalba">

      <div>
        <h1>Profesionali pagalba</h1>
        <p>Suprantame, kad ne visi turi gerą sugebėjimą kurti, dažnai kyla problemų ir klausimų todėl mūsų ekspertai yra pasiruošę suteikti Jums profesionalią pagalbą visą mokymosi laikotarpį jei turite <b style="color:var(--light-blue2)">1 LYGIO</b> prenumeratą.</p>
      </div>
    </div>


    <div class="detailsBox ques">
      <h1>Turi klausimų ?</h1>
      <p>Nesate tikri ar esate pasiruošę ? Mūsų komanda yra pasiruošusi atsakyti į Jūsų klausimus ar suteikti patarimų visiškai nemokamai! Su mumis galite susisiekti el.paštu paspaudę <b style="color: var(--light-blue2)">Užduoti klausimą</b></p>

      <div>
        <BButton style="margin-right:20px" @click="Klausimas">Užduoti klausimą</BButton>
        <BButton @click="$router.push('/naryste')" sec>Daugiau informacijos</BButton>
      </div>
    </div>
  </div>
</template>

<script>
export default{
  methods:{
    Klausimas: function(){
      global.refs.klausimas.isActive = true;
    }
  }
}
</script>

<style scoped>
.intro {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 250px;
}

.intro .intoPic {
  margin: 0 50px 0 10%;
}

.textBox {
  margin: 200px 0 10px 0;
  width: 400px;
}

.contentWrapper {
  padding: 50px 10%;
}

.contentWrapper>div {
  margin: 100px 0;
}

.detailsBox {
  background-color: rgb(31, 31, 31);
  border-radius: 30px;
  color: white;
  display: flex;
  position: relative;
  margin-top: 200px;
  box-shadow: 0 0 10px black;
  padding: 60px;
  background-image: url("@/assets/dark.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 150% 10%;
}

.aboutText {
  min-height: 300px;
  width: 40%;
}

.paslaugosWrapper {
  display: flex;
  align-items: center;
  padding: 0 150px;
}

.purchaseWrapper {
  color: white;
  background-color: #0d0c21;
  padding: 200px 250px;
  font-size: 12px;
}

.purchaseDetails{
  margin-bottom: 100px;
  font-size: 18px;
}

.purchaseOptions {
  color: var(--text-dark);
  display: flex;
  justify-content: center;
}

.purchaseWrapper .purchaseOptions>div {
  margin: 0 50px;
  width: 250px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid var(--light-blue2);
  box-shadow: 0 0 30px var(--dark-blue);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.purchaseWrapper .purchaseOptions>div:nth-child(2) {
  height: 500px;
}

.pHeader {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.pInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pInfo>div {
  color: rgb(85, 85, 85);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ques {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
</style>