<template>
  <div class="content">
    <div class="header">
      <h1>Išplėsk savo galimybes su <span style="color:var(--light-blue2)">Blober</span> Naryste!</h1>
      <v-icon color="var(--text-dark)" fade size="4x" icon="arrow-down" />
      <div class="headerStats">
        <div>
          <v-icon size="2x" icon="1" />
          <p>Lengvai pristatykite savo turinį <b style="color:var(--light-blue)">milijonams</b> potencialių klientų.</p>
        </div>

        <div>
          <v-icon size="2x" icon="2" />
          <p><b style="color:var(--light-blue)">Paprasčiausias</b> būdas nuolat plėsti savo žinias bei įgudžius.</p>
        </div>

        <div>
          <v-icon size="2x" icon="3" />
          <p>Naudodami <b style="color:var(--light-blue)">Blober Pro</b> gausite prieigą prie visų įrankių, reikalingų savo dizainerio karjerai kurti.</p>
        </div>
      </div>
    </div>

    <div class="borderBox">
      <div class="borderBoxInside">
        <h1>Blober Narystė</h1>
        <table>
          <tr class="memberDetails">
            <th></th>
            <th>1 LYGIO<h3><i>€5.00</i></h3> <small>per mėn</small>
              <BButton>Toliau</BButton>
            </th>
            <th>2 LYGIO<h3><i>€10.00</i></h3> <small>per mėn</small>
              <BButton>Toliau</BButton>
            </th>
            <th>BLOBER PRO<h3><i>€15.00</i></h3> <small>per mėn</small>
              <BButton>Toliau</BButton>
            </th>
          </tr>

          <tr class="memberStats">
            <th>Beribis turinio kiekis</th>
            <td><v-icon icon="check" /></td>
            <td><v-icon icon="check" /></td>
            <td><v-icon icon="check" /></td>
          </tr>

          <tr class="memberStats">
            <th>Sumažinti pajamų gavimo platformos mokesčiai</th>
            <td>2%</td>
            <td>8%</td>
            <td>15%</td>
          </tr>

          <tr class="memberStats">
            <th>Išsami profilio analizė</th>
            <td><v-icon icon="times" /></td>
            <td><v-icon icon="check" /></td>
            <td><v-icon icon="check" /></td>
          </tr>

          <tr class="memberStats">
            <th>Vartotojo vardo keitimas</th>
            <td>2 kartai<br><small>per mėnesį</small></td>
            <td>10 kartų<br><small>per mėnesį</small></td>
            <td>Neribota</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="purchaseWrapper">
      <div>
        <h1>Užsisakyk jau šiandien!</h1>
        <p>Tobulėkite daug greičiau su mažiau rūpesčių. Uždirbkite daugiau naudodami savo meninius įgudžius taupydami savo brangų laiką su viena iš pasirinktų narystės privalumų.</p>
      </div>

      <div class="naryste">
        <div>
          <h3>1 LYGIO</h3>
          <p>Narystė</p>
        </div>
        <div>
          <h2 style="color:var(--light-blue)">€5.00</h2>
          <small>per mėn</small>
        </div>
        <BButton>Aktyvuoti</BButton>
      </div>

      <div class="naryste">
        <div>
          <h3>2 LYGIO</h3>
          <p>Narystė</p>
        </div>
        <div>
          <h2 style="color:var(--light-blue)">€10.00</h2>
          <small>per mėn</small>
        </div>
        <BButton>Aktyvuoti</BButton>
      </div>

      <div class="naryste">
        <div>
          <h3>BLOBER PRO</h3>
          <p>Narystė</p>
        </div>
        <div>
          <h2 style="color:var(--light-blue)">€15.00</h2>
          <small>per mėn</small>
        </div>
        <BButton>Aktyvuoti</BButton>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  components: {

  }
}
</script>

<style scoped>
.content {
  background-image: url("@/assets/naryste.png");
  background-color: #0d0c21;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 100px;
}

.header {
  padding: 100px 0;
  text-align: center;
  color: white;
}

.header>h1 {
  text-shadow: 3px 3px 2px black;
}

.headerStats {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0;
}

.headerStats>div {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(26, 26, 26);
  width: 250px;
}

.borderBox {
  padding: 6px;
  border-radius: 15px;
  background-image: linear-gradient(68.4deg, rgba(99, 251, 215, 1) -0.4%, rgba(5, 222, 250, 1) 100.2%);
}

.borderBoxInside {
  border-radius: 11px;
  margin: 0px;
  background-color: #0d0c21;
  font-size: 18px;
  padding: 15px;
}

.borderBoxInside>h1 {
  color: #63fbd7;
  background-image: -webkit-linear-gradient(0deg, #63fbd7 0%, #05b5fa 40%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.borderBoxInside>table {
  display: grid;
  gap: 2px;
  color: white;
  margin-top: 50px;
}

tr {
  display: grid;
  grid-template-columns: 236px repeat(3, 1fr);
  gap: 4px;
  margin-bottom: 4px;
}

th,
td {
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(31, 31, 31);
}

.memberDetails>th {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: normal;
  font-size: 13px;
}

.memberStats {
  text-align: left;
  font-size: 13px;
}

.memberStats td {
  text-align: center;
}

.purchaseWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  color:white;
  padding:20px;
  border-radius: 8px;
}

.purchaseWrapper > .naryste {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
</style>