<template>
  <div class="Header">
    <div>
      <h1>Pradžiuginkite save ar paspartinkite savo darbą naudodami kitų sukurtus projektus!</h1>

      <div>
        <h4>Tyrinėkite klientų pasiūlymus</h4>
        <Input style="margin-right:15px;" placeholder="Paieška" />
        <BButton>Ieškoti</BButton>
      </div>
    </div>
  </div>

  <div class="Content">
    <div class="statistic">
      <div>
        <v-icon size="3x" icon="fa-solid fa-arrow-up-from-bracket"/>
        <div>
          <p>ĮKELTO TURINIO</p>
          <h2>{{ saleItems.length }}+</h2>
        </div>
      </div>

      <div>
        <v-icon size="3x" icon="fa-regular fa-eye"/>
        <div>
          <p>PERŽIŪRĖTO TURINIO</p>
          <h2>{{ perziuros }}+</h2>
        </div>
      </div>

      <div>
        <v-icon size="3x" icon="fa-regular fa-heart"/>
        <div>
          <p>PATIKUSIO TURINIO</p>
          <h2>{{ likes }}+</h2>
        </div>
      </div>
    </div>

    <div class="PurchaseWrapper">
      <div class="FilterBox">
        <div>
          <h3>Prekių filtras</h3><v-icon icon="arrow-down" />
        </div>

        <div>
          <Radio name="naujausi" label="Atsitiktinis" :value="false" v-model="naujausi" />
        </div>

        <div>
          <Radio name="naujausi" label="Naujausi viršuje" :value="true" v-model="naujausi" />
        </div>

        <div>
          <h4>Kaina</h4>
          <Radio name="kaina" label="Nesvarbu" :value="null" v-model="kainaFilter" />
          <Radio name="kaina" label="iki €5" :value="5" v-model="kainaFilter" />
          <Radio name="kaina" label="iki €10" :value="10" v-model="kainaFilter" />
          <Radio name="kaina" label="iki $20" :value="20" v-model="kainaFilter" />
          <Radio name="kaina" label="iki €50" :value="50" v-model="kainaFilter" />
        </div>

        <BButton @click="ResetFilter" sec>Išvalyti filtrus</BButton>
      </div>

      <div>
        <h4>Ieškai kažko specifinio ?</h4>
        <Input v-model="search" placeholder="Paieška" />

        <div class="SaleList">
          <GalleryItem v-for="a in filtras" :key="a" :data="a" sukaina/>
        </div>
      </div>

      <div class="prisijunk">
        <h1>Prisijunk prie Blober</h1>
        <p>Siūlykite išskirtinį turinį ir plėskite auditoriją naudodami prenumeratas, aukščiausios kokybės
          atsisiuntimus ir kt.</p>
          <BButton @click="$router.push('/')">Daugiau informacijos</BButton>
      </div>
    </div>
  </div>
</template>

<script>
import Input from "@/components/B-Input.vue";
import GalleryItem from "@/components/B-Gallery-Item.vue"
import Radio from "@/components/B-Radio.vue"
import { data } from "@/assets/data.js"

export default {
  components: {
    Input,
    GalleryItem,
    Radio
  },

  computed: {
    filtras: function () {
      let dataFilter = JSON.parse(JSON.stringify(this.saleItems));

      if (this.kainaFilter != null) {
        dataFilter = dataFilter.filter(x => x.Kaina <= this.kainaFilter);
      }

      if (this.naujausi == true) {
        dataFilter = dataFilter.sort((d1, d2) => new Date(d2.Ikelta).getTime() - new Date(d1.Ikelta).getTime());
      }

      if(this.search != null){
        dataFilter = dataFilter.filter(x=>x.Pav.includes(this.search));
      }

      return dataFilter;
    },

    perziuros: function(){
      return this.saleItems.map(p => p.Views).reduce((acc, amount) => acc + amount);
    },

    likes: function(){
      return this.saleItems.map(p => p.Likes).reduce((a1, a2) => a1 + a2);
    }
  },

  data: function () {
    return {
      saleItems: data,
      kainaFilter: null,
      naujausi: false,
      search: null
    }
  },

  methods: {
    ResetFilter: function () {
      this.naujausi = false;
      this.kainaFilter = null;
      this.search = null;
    }
  }
}
</script>

<style scoped>
.Header {
  height: 500px;
  background-image: url("@/assets/pard-header.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
  font-size: 20px;
}

.Header>div {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Content {
  margin: 50px 50px;
  position: relative;
}

.FilterBox {
  position: sticky;
  top: 50px;
  padding: 15px;
  margin-right: 30px;
  float: left;
  width: 250px;
  background-color: #0d0c21;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.FilterBox>div {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(75, 75, 75, 0.7);
}

.SaleList {
  margin-top: 20px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 80px;
}

.prisijunk {
  text-align: center;
  margin: 150px 0;
}

.statistic {
  min-height: 70px;
  background-color: #0d0c21;
  margin-bottom: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:rgba(255, 255, 255, 1);
  flex-wrap: wrap;
}

.statistic>div {
  display: flex;
  gap:15px;
}

.statistic h2{
  color:var(--light-blue2)
}
</style>