<template>
    <button :class="[ sec ? 'BButton-Trans' : 'BButton-Default', 'BButton' ]" type="button">
        <slot></slot>
    </button>
</template>

<script>
export default{
    props:{
        sec: Boolean
    }
}
</script>

<style scoped>
.BButton {
    min-width: 170px;
    padding: 9px;
    text-align: center;
    border-radius: 8px;
}

.BButton-Default{
    background-image: linear-gradient(to right, #0063e4 0%, #00f2fe 100%);
    color: white;
}

.BButton-Trans{
    border:2px solid var(--light-blue);
    background: transparent;
    color: var(--light-blue);
}

</style>