<template>
    <div class="footer">
        <div>
            <img src="@/assets/logo.png" height="45">
            <p><i>Blober</i></p>
        </div>

        <div class="social">
            <a href="https://twitter.com/home"> <v-icon icon="fa-brands fa-square-twitter" /></a>
            <a href="https://www.facebook.com"> <v-icon icon="fa-brands fa-facebook" /></a>
            <a href="https://www.instagram.com"> <v-icon icon="fa-brands fa-instagram" /></a>
            <a href="https://www.youtube.com/?hl=lt&gl=LT"> <v-icon icon="fa-brands fa-youtube" /></a>
        </div>

        <div class="links">
            <div>
                <router-link to="/">Kas yra Blober ?</router-link>
                <router-link to="/naryste">Blober Narystė</router-link>
            </div>

            <div>
                <router-link to="/parduotuve">Peržiūrėk klientų pasiūlymus</router-link>
                <router-link to="/ismok">Išmok dizainą</router-link>
            </div>

            <div>
                <a @click="Klausimas">Užduok mums klausimą!</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        Klausimas: function () {
            global.refs.klausimas.isActive = true;
        }
    }
}
</script>

<style scoped>
.footer {
    background-color: var(--text-dark);
    display: flex;
    padding: 0 30px;
    font-family: 'GilroyBOLD';
    align-items: center;
    min-height: 120px;
    color: white;
    flex-wrap: wrap;
}

.social {
    margin-left: 80px;
    display: flex;
    gap: 50px;
    font-size: 19px;
}

.social > a{
    text-decoration: none;
    color:white;
}

.social>a:hover {
    color: var(--light-blue);
    transform: scale(1.5);
    transition: 0.4s;
}

.links {
    margin: 0 auto;
    display: flex;
}

.links>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 50px;
}

.links a {
    text-decoration: none;
    font-family: 'GilroyREGULAR';
    color: gray;
}

.links a:hover {
    color: var(--light-blue);
    transition: 0.4s;
}
</style>