<template>
    <div @click="startOverivew" style="cursor: pointer">
        <div class="innerBox" :style="thumbnail">
            <small>{{ data.Aut }}</small>

            <div class="stats">
                <p><v-icon color="dodgerblue" icon="eye" /> {{ data.Views }}</p>
                <p><v-icon color="red" icon="heart" /> {{ data.Likes }}</p>
            </div>

            <div class="overlay"></div>
        </div>

        <div>
            <h4 style="float:left;">{{ data.Pav }}</h4>
            <h5 v-if="sukaina" style="float:right;">Kaina €{{ data.Kaina }}</h5>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        sukaina: Boolean,

        data: {
            type: Object,
            default() {
                return {}
            }
        }
    },

    computed: {
        thumbnail: function () {
            return {
                background: `url("${this.data.URL}")`,
                backgroundSize: "cover"
            }
        }
    },

    methods: {
        startOverivew: function () {
            global.refs.overview.toggle(true, this.data);
        }
    }
}
</script>

<style scoped>
.innerBox {
    height: 180px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    color: white;
    box-shadow: 0 0 10px black;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.1s;
}

.overlay:hover {
    background-color: transparent;
}

.stats {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    font-size: 12px;
    z-index: 2;
}
</style>