<template>
    <div class="headerWrapper">
        <div class="header">
            <img @click="$router.push('/')" src="@/assets/logo.png" height="45">
            <div class="navigation">
                <router-link to="/">Galerija</router-link>
                <router-link to="/ismok">Išmok dizaino</router-link>
                <router-link to="/parduotuve">Parduotuvė</router-link>
                <router-link to="/naryste" style="color:red">Narystė</router-link>
            </div>
        </div>

        <BButton @click="Prisijungti">Prisijungti</BButton>
    </div>
</template>

<script>
export default {
    methods: {
        Prisijungti: function () {
            global.refs.prisijungti.isActive = true;
        }
    }
}
</script>

<style scoped>
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: 'GilroyMEDIUM';
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation {
    margin-left: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
}

.navigation a.router-link-exact-active {
    color: var(--darker-blue);
}
</style>