<template>
    <input class="COMP-Input" v-bind="$attrs" :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)" />
</template>
  
<script>
export default {
    props: {
        label: String,
        modelValue: [String, Number],
    },
};
</script>
  
<style scoped>
.COMP-Input {
    min-width: 300px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}
</style>