<template>
    <div v-if="isActive" class="Wrapper">
        <div class="Window">
            <div class="Header">
                <div>
                    <img src="@/assets/user.png" width="45">
                    <div>
                        <h3>{{ Data.Pav }}</h3>
                        <p>{{ Data.Aut }}</p>
                    </div>
                </div>

                <v-icon class="closeBtn" @click="isActive = false" icon="times" />
            </div>

            <img class="artPreview" :src="Data.URL" :alt="Data.Pav">

            <div class="artDetails">
                <div>
                    <div style="margin-bottom:50px;">
                        <h2>Aprašymas</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia eos quod vitae deserunt,
                            tenetur voluptatem.</p>
                    </div>

                    <div>
                        <h2>Detaliau</h2>

                        <div class="statsWrapper">
                            <div class="statsBox">
                                <v-icon color="red" size="2x" icon="heart" />
                                <div>
                                    <p>Patiko</p>
                                    <h3>{{ Data.Likes }}</h3>
                                </div>
                            </div>

                            <div class="statsBox">
                                <v-icon color="var(--light-blue)" size="2x" icon="eye" />
                                <div>
                                    <p>Peržiūrėta</p>
                                    <h3>{{ Data.Views }}</h3>
                                </div>
                            </div>

                            <div class="statsBox">
                                <v-icon color="var(--text-dark)" size="2x" icon="clock" />
                                <div>
                                    <p>Įkelta</p>
                                    <h3>{{ Data.Ikelta.toLocaleString() }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Komentarai</h2>
                    <div class="commentBox">
                        <div class="comments">
                            <div v-for="k in komentarai" :key="k">
                                <img src="@/assets/user.png" height="40"/>
                                <div>
                                    <p><b>{{k.Aut}}</b> | <small>pries 2 dienas</small></p>
                                    <p>{{ k.Tekstas }}</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <Input style="margin-right: 10px;" placeholder="Jūsų komentaras..." />
                            <BButton>Siūsti</BButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Input from "@/components/B-Input.vue";

export default {
    components: {
        Input
    },

    data: function () {
        return {
            isActive: false,
            Data: { Ikelta: new Date() },
            komentarai: [
                {
                    Aut: "Jonas as esu",
                    Tekstas: "Įdomiai parinktos spalvos 💩"
                },
                {
                    Aut: "Paulius",
                    Tekstas: "Puikiai 😅 atliktas darbas"
                },
                {
                    Aut: "Tomas Tomukas",
                    Tekstas: "Labai graziai atrodo !!!!! 😅😅😅😅"
                },
                {
                    Aut: "Bosas",
                    Tekstas: "🤡🤡🤡🤡🤡🤡🤡"
                }
            ]
        }
    },

    methods: {
        toggle: function (state, data) {
            this.isActive = state;
            this.Data = data;
        }
    }
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}

.Wrapper {
    padding: 75px;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.Window {
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    overflow: auto;
}

.Header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artPreview {
    width: 100%;
}

.artDetails {
    padding: 35px;
    display: flex;
    gap: 20px;
}

.artDetails>div {
    flex-basis: 100%;
}

.artDetails .statsWrapper {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.artDetails .statsBox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.commentBox {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
}

.comments {
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding:20px;
    overflow: auto;
    font-size: 14px;
}

.comments > div{
    display: flex;
    gap:15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.4);
}

.closeBtn {
    font-size: 18px;
}

.closeBtn:hover {
    color: var(--light-blue2)
}
</style>