<template>
    <div v-if="isActive" class="Wrapper">
        <div class="Window">
            <div class="Header">
                <h2>Prisijungti</h2>
                <v-icon class="closeBtn" @click="isActive = false" icon="times" />
            </div>

            <div class="content">
                <Input placeholder="Prisijungimo vardas" />
                <Input type="email" placeholder="El.Paštas" />
                <Input type="password" placeholder="Slaptažodis" />
                <Input type="password" placeholder="Pakartoti slaptažodi" />
                <BButton>Prisijungti</BButton>
            </div>
        </div>
    </div>
</template>

<script>
import Input from "@/components/B-Input.vue";

export default {
    components: {
        Input
    },

    data: function () {
        return {
            isActive: false,
        }
    },
}
</script>

<style scoped>
.Wrapper {
    display: grid;
    place-items: center;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.Window {
    width: 500px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
}

.Header {
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
}
</style>