<template>
  <label class="COMP-RLabel">
    <input
      v-bind="$attrs"
      class="COMP-Radio"
      type="radio"
      :value="value"
      @change="$emit('update:modelValue', this.value)"
    />
    <p>&nbsp;{{ label }}</p>
  </label>
</template>

<script>
export default {
  props: {
    label: { type: String, default: "", required: true },
    value: { type: [Object, String, Number, Boolean], default: undefined },
  },
};
</script>

<style scoped>
.COMP-RLabel {
  display: flex;
  padding: 5px 0;
}

.COMP-Radio[type="radio"] {
  appearance: none;
  font: inherit;
  width: 1.2em;
  height: 1.2em;
  border: 0.15em solid white;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.COMP-Radio[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--light-blue2);
}

.COMP-Radio[type="radio"]:checked::before {
  transform: scale(1);
}
</style>