<template>
  <Transition name="bounce">
    <Overview ref="overview" />
  </Transition>

  <Transition name="bounce">
    <Klausimas ref="klausimas" />
  </Transition>

  <Transition name="bounce">
    <Prisijungti ref="prisijungti" />
  </Transition>

  <Header />
  <router-view />
  <Footer />
</template>

<script>
import Header from '@/components/B-Header.vue'
import Footer from '@/components/B-Footer.vue'
import Overview from "@/components/B-Overview.vue"
import Klausimas from "@/components/B-Klausimas.vue"
import Prisijungti from "@/components/B-Prisijungti.vue"

export default {
  components: {
    Header,
    Footer,
    Overview,
    Klausimas,
    Prisijungti
  }
}
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css");

@font-face {
  font-family: "GilroyEBOLD";
  src: url("@/assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "GilroyLIGHT";
  src: url("@/assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "GilroyBLACK";
  src: url("@/assets/fonts/Gilroy-Black.ttf");
}

@font-face {
  font-family: "GilroyBOLD";
  src: url("@/assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "GilroyHEAVY";
  src: url("@/assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "GilroyMEDIUM";
  src: url("@/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "GilroyREGULAR";
  src: url("@/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroySBOLD";
  src: url("@/assets/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "GilroyTHIN";
  src: url("@/assets/fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-family: "GilroyULIGHT";
  src: url("@/assets/fonts/Gilroy-UltraLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  letter-spacing: 1px;
}

:root {
  --light-blue: #009EED;
  --light-blue2: #00A7FA;
  --darker-blue: #008DD4;
  --darker-blue2: #0074AD;
  --dark-blue: #00496E;
  --text-dark: #2c3e50;
}

#app {
  background-color: rgb(238, 238, 238);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 15px;
  }
}
</style>
